@import url(//fonts.googleapis.com/css?family=Roboto:400,300,400italic,300italic,500,500italic,700,700italic);

body {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px; line-height: 20px;
}

/* Reset h<n> styles */
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: normal; }

h1 { font-size: 24px; line-height: 32px; margin-bottom: 12px; }
h2 { font-weight: 500; font-size: 20px; line-height: 24px; }


article { padding: 16px; }
article p { text-align: justify; margin: 8px 0 8px 0; padding: 0; }

a, a:visited { color: #555; text-decoration: none; }
